<!DOCTYPE html>
<html>
<head>
  <title>todo-list</title>
  <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body ng-app="todo-list" ng-controller="todoController as todoCtrl">
	
	<form ng-submit="todoCtrl.todoAdd()">
    	<input type'text' ng-model="todoCtrl.todoInput" size='30'>
    	<input type='submit' value='Add New'>
	</form>

	<div ng-repeat="case in todoCtrl.tasks track by $index">
		<p>
			<i class="fa" ng-class={'fa-check':case.done,'fa-close':!case.done} ng-click="case.done=!case.done"></i>
			
			{{case.desc}}
			
			<button ng-click="todoCtrl.removeItem($index)">Delete</button>
		</p>
	</div>


	<script src="app.js"></script>
</body>
</html>